[Unit]
StartLimitIntervalSec= 30m
StartLimitBurst= 10

[Service]
Type= exec
ExecSearchPath= /usr/bin
ExecStart= shore-daemon
Restart= on-failure
RestartMaxDelaySec= 1min
RestartSteps= 10

[Install]
WantedBy= default.target
